body {
    background-color: #fcc4c42c;
}

#titulo {
    font-family: 'Comic Sans MS', cursive;
    color: #f81f8b;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 30px;
    width: 500px;
}

h2 {
    font-family: 'Comic Sans MS', cursive;
    color: #f81f8b;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 20px;
}

#itemsVivos {
    padding-left: 20%;
}

#itemsVivos>div {
    padding-top: 2%;
}

#itemsVivos>button {
    width: 50px;
}

#itemsClientes {
    padding-left: 20%;
}

#itemsClientes>div {
    padding-top: 2%;
}

#itemsClientes>button {
    width: 50px;
}

#botones {
    display: flex;
}

#formCliente {
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    padding-left: 2%;
    padding-top: 2%;
}

#buscarVivo {
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    padding-left: 1%;
    padding-top: 2%;
}

#botonesCliente {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

#top {
    background-color: #f1f1f1;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#pizq {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

#totales {
    display: flex;
}

#totales>h2 {
    padding-right: 15%;
    text-align: left;
    font-size: 20px;
    width: 300px;
}

#buscar {
    padding-left: 20%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
}

#buscar>div {
    margin: 2px;
    font-size: 20px;
    align-self: center;
}

#time {
    font-family: 'Comic Sans MS', cursive;
    color: #f81f8b;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 30px;
    text-align: center;
}

#start {
    background-color: #4CAF50;
    /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#stop {
    background-color: #afa84c;
    /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#finish {
    background-color: #af4c4c;
    /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#crear {
    background-color: #4CAF50;
    /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#editar {
    background-color: #afa84c;
    /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#eliminar {
    background-color: #af4c4c;
    /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#btnAgregarCompra {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 2%;
    cursor: pointer;
}

#btnEliminarCompra {
    background-color: #af4c4c;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btnMostrarCompra {
    background-color: #4c66af;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.filtro {
    display: none;
}

.compra {
    padding-top: 0.5%;
}

.cliente {
    font-size: 20px;
}

div[id~="encabezado"] {
    background-color: #ffcece;
    width: 1000px;
}

#btonClient{
    padding-left: 100%;
}

.selectStatus{
    margin-left: 2%;
    font-size: 15px;
}

#desdeDiv{
    display: flex;
    flex-direction: row;
}

#hastaDiv{
    display: flex;
    flex-direction: row;
}

#byDate{
    padding-top: 5%;
    padding-bottom: 5%;
}

#byAmount{
    padding-top: 5%;
    padding-bottom: 5%;
}

.filter-label{
    padding-right: 5%;
}
