body{
    background-color: #fcc4c42c; 
}

#titulo {
    font-family: 'Comic Sans MS', cursive;
    color: #f81f8b;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 30px;
    width: 500px;
}

h2 {
    font-family: 'Comic Sans MS', cursive;
    color: #f81f8b;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 20px;
}

#itemsClientes{
    padding-left: 30%;
}

#botones{
    display: flex;
}

#formCliente{
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    padding-left: 2%;
  }

#botonesCliente{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

#encabezado{
    background-color: #f1f1f1;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#pizq{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

#totales{
    display: flex;
}

#totales > h2 {
    padding-right: 15%;
    text-align: left;
    font-size: 20px;
    width: 350px;
}

#buscar{
    display: flex;
    flex-direction: row;
}

#buscar > div {
    margin: 10px;
    font-size: 20px;
    align-self: center;
  }

#time{
    font-family: 'Comic Sans MS', cursive;
    color: #f81f8b;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 30px;
    text-align: center;
}

#start {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#stop {
    background-color: #afa84c; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#finish {
    background-color: #af4c4c; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}